body {
  font-family: "Montserrat", sans-serif;
}
main {
  min-height: 100vh;
  margin-top: 60px;
}
.flex {
  margin: 30px auto 0px;
  max-width: 1300px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}

.flex > div:last-child {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.d-none-js {
  display: none !important;
}
#foodDiv {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#imgDiv {
  overflow: hidden;
}

#imgDiv > img {
  width: 100%;
  transition: all 1s ease-in-out;
}

#imgDiv > img:hover {
  transform: scale(1.2);
}

#detailsDiv {
  padding: 20px;
  min-height: 140px;
}

#detailsDiv p {
  margin: 0px;
}

#cartDetailsDiv {
  padding: 10px 20px;
  min-height: 30px;
}

#cartDetailsDiv p {
  margin: 0px;
}

#btnDiv {
  padding: 0px 20px 20px;
}

#btnDiv > button {
  width: 100%;
}

#trendingBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0px 10px;
}

#trendingBtnDiv > button {
  width: 100px;
}

#trendingBtnDiv > button:nth-child(2),
#trendingBtnDiv > button:nth-child(3),
#trendingBtnDiv > button:nth-child(4) {
  border-radius: 0%;
}

#trendingBtnDiv > button:nth-child(1) {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}

#trendingBtnDiv > button:nth-child(5) {
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

@media screen and (max-width: 1024px) {
  #display {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #display {
    grid-template-columns: repeat(2, 1fr);
  }
}

#cartSummaryBar {
  width: 100vw;
  background-color: #ccc;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  border-top: 1px solid #ccc;
  font-size: 22px;
}
.table-transition {
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.table-transition-collapsed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
.toggle-section {
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.toggle-section-collapsed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
/* Animação do chevron */
.chevron-rotate {
  transition: transform 0.3s ease;
}

.chevron-rotate-up {
  transform: rotate(180deg);
}



